apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ share_prefix}}-{{ item }}
spec:
  capacity:
    storage: {{ capacity }}
  accessModes:
  - ReadWriteOnce
  nfs:
    path: {{ base_directory }}/{{ share_prefix}}-{{ item }}
    server: {{ nfs_server }}
  persistentVolumeReclaimPolicy: {{ reclaim_policy }}